services:
  backstage-portal:
    build:
      context: ./backstage
      dockerfile: Dockerfile
    container_name: backstage-portal
    ports:
      - "7007:7007"
    environment:
      # Tell Backstage how to connect to Postgres
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_USER=backstage
      - POSTGRES_PASSWORD=backstage
      - POSTGRES_DB=backstage
    depends_on:
      - postgres

  api-gateway:
    build:
      context: .
      dockerfile: ./apps/api-gateway/Dockerfile
    container_name: api-gateway
    ports:
      - "3000:3000"
    environment:
      # Use your Atlas connection string
      - SAMPLE_TEMPLATE_MONGODB_HOSTS=mongodb://learningtocode0817:Hr1MARNV1sinveHj@ac-damvtjt-shard-00-00.qjpofey.mongodb.net:27017,ac-damvtjt-shard-00-01.qjpofey.mongodb.net:27017,ac-damvtjt-shard-00-02.qjpofey.mongodb.net:27017/?ssl=true&authSource=admin&retryWrites=true&w=majority&appName=Cluster0
      - SAMPLE_TEMPLATE_MONGODB_REPLICA_SET=atlas-vbhv61-shard-0
      - SAMPLE_TEMPLATE_MONGODB_DB_NAME=boilerplate

  postgres:
    image: postgres:14
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: backstage
      POSTGRES_PASSWORD: backstage
      POSTGRES_DB: backstage
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
