services:
  # backstage-portal:
  #   build:
  #     context: ./backstage
  #     dockerfile: Dockerfile
  #   container_name: backstage-portal
  #   ports:
  #     - "7007:7007"
  #   depends_on:
  #     - api-gateway

  api-gateway:
    build:
      context: .
      dockerfile: ./apps/api-gateway/Dockerfile
    container_name: api-gateway
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      # MongoDB config used by SampleTemplateMongodbModule
      - SAMPLE_TEMPLATE_MONGODB_HOSTS=mongodb://learningtocode0817:Hr1MARNV1sinveHj@ac-damvtjt-shard-00-00.qjpofey.mongodb.net:27017,ac-damvtjt-shard-00-01.qjpofey.mongodb.net:27017,ac-damvtjt-shard-00-02.qjpofey.mongodb.net:27017/?ssl=true&authSource=admin&retryWrites=true&w=majority&appName=Cluster0
      - SAMPLE_TEMPLATE_MONGODB_REPLICA_SET=atlas-vbhv61-shard-0
      - SAMPLE_TEMPLATE_MONGODB_DB_NAME=boilerplate

